<!DOCTYPE html>
<html class="has-navbar-fixed-top">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PaceMaker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="./js/keys.js"></script>
    <script type="text/javascript" src="./js/agtables.js"></script>
</head>

<body>

    {{{ body }}}

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>PaceMaker</strong> by <a href="https://github.com/mhanley00">Madeline Hanley</a> &amp; <a href="https://github.com/AJC-147">Alexander Chacko</a>. Thank you to Dark Sky and Google Maps for providing the awesome APIs that made this app possible!.
            </p>
        </div>
    </footer>

</body>

</html>
