<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1>PaceMaker</h1>
        </a>
    </div>
</nav>


<section class="hero is-light is-medium">
    <div class="hero-body">
        <div class="container">
            
            <h1 class="title">
                Welcome to PaceMaker
            </h1>
            <h2 class="subtitle">
                Join below, or sign in if you're already a member.
            </h2>
            <hr>
            <div class="columns">
                <div class="column">
                    <h2>Sign Up</h2>
                    <form class="signup">

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" id="email-su-input" type="email" placeholder="example@email.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <!--
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
-->
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" id="password-su-input" type="password" placeholder="secure password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" id="confirm-password-su-input" type="password" placeholder="confirm password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" class="button is-success">

                                    <!--     try to change "is-success" to "is-danger" if error-->

                                    Sign Up
                                </button>
                            </p>
                        </div>
                    </form>

                </div>

                <div class="column">

                    <h2>Login</h2>
                    <form class="login">

                        <div class="field">
                            <p class="control has-icons-left has-icons-right">
                                <input class="input" id="email-l-input" type="email" placeholder="example@email.com">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <!--
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
-->
                            </p>
                        </div>
                        <div class="field">
                            <p class="control has-icons-left">
                                <input class="input" id="password-l-input" type="password" placeholder="secure password">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-lock"></i>
                                </span>
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button type="submit" class="button is-success">

                                    <!--     try to change "is-success" to "is-danger" if error-->

                                    Login
                                </button>
                            </p>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript" src="js/signup.js"></script>
<script type="text/javascript" src="./js/login.js"></script>
