<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h1>PaceMaker</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/members" class="navbar-item">
                Home
            </a>

            <a href="/all_runs" class="navbar-item">
                Runs
            </a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">

                    <a data-target="modal1" class="button is-danger modal-trigger" id="showModal">
                        Add a Run
                    </a>

                    <a href="/logout" class="button is-light">
                        Log Out
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


{{!-- MAIN BODY --}}
<section class="hero is-light is-medium">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">Welcome <span>{{Runner.firstName}}</span> <span class="member-name"></span>
                
            </h2>
            <hr>

            <!--Temp based on geolocation -->
            <div class="container" id="middle-container">
                <div class="columns">
                    <div class="column">
                        <h5 class="flow-text">Today's Forecast</h5>
                    </div>
                    <div class="forecast-header column">
                        <label>Temperature (F)</label>
                        <div id="today-temp"></div>
                    </div>
                    <div class="forecast-header column">
                        <label>Dew Point</label>
                        <div id="today-dew"></div>
                    </div>

                    <div class="forecast-header column">
                        <label>Wind Speed (MPH)</label>
                        <div id="today-ws"></div>
                    </div>

                </div>


                <div class="columns">
                    <div class="column">
                        <label>Latitude</label>
                        <div id="latitude"></div>
                    </div>
                    <div class="column">
                        <label>Longitude</label>
                        <div id="longitude"></div>
                    </div>
                    {{!-- <div class="column">
            <label>Location</label>
            <div id="curr-location"></div>
        </div> --}}
                </div>
            </div>

            <div class="container" id="another-container">
                <div class="columns">
<!--
                    <div class="column">
                        <label>Your Race Pace</label>
                        <div id="race-pace"></div>
                    </div>
                    <div class="column" id="race-ag">
                        <label>Your Age Grade</label>
                    </div>
-->
                    <div class="column">
                        <label>Predicted Race Times</label>
                        <div id="predicted-time"></div>
                    </div>
                    <div class="column">
                        <label>Predicted Paces</label>
                        <div id="predicted-pace"></div>
                    </div>
                    <div class="column" id="predicted-ag">
                        <!-- <label>Predicted Age Grade</label> -->
                    </div>
                </div>
            </div>

            <div class="container" id="morrrre">
                <div class="columns">
                    {{!-- <div class="column">
        <label>Your Race Pace</label>
        <div id="race-pace"></div>
    </div>
    <div class="column" id="race-ag">
        <label>Your Age Grade</label>
    </div> --}}
                    <div class="column">
                        <label>Riegel Predicted Race Times</label>
                        <div id="riegel-predicted-time"></div>
                    </div>
                    <div class="column">
                        <label>Riegel Predicted Paces</label>
                        <div id="riegel-predicted-pace"></div>
                    </div>
                    <div class="column" id="predicted-ag">
                        <!-- <label>Predicted Age Grade</label> -->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>

{{!-- END MAIN BODY --}}


<!-- MODAL STRUCTURE -->
<!--<div class="container" id="app">-->

{{> run/modal}}

<!--</div>-->

<!-- END MODAL STRUCTURE -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

<script type="text/javascript" src="js/members.js"></script>
<script type="text/javascript" src="./js/agtables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script type="text/javascript" src="js/darksky.js"></script>
<script type="text/javascript" src="js/riegel.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<script type="text/javascript" src="js/scriptsTest.js"></script>
<script type="text/javascript" src="js/bulma.js"></script>
<script type="text/javascript" src="js/modal.js"></script>
<script type="text/javascript" src="js/create_run.js"></script>